* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
/* Common */
.content {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  width: 1440px;
  height: 100vh;
  background: #e6f0ff;
  padding-top: 38px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar .actions {
  margin-left: auto;
}
.navbar ul a {
  font-weight: 500;
  font-size: 14rem;
  color: #4f5361;
  margin-right: 28px;
}
